* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 40px;
}

.main-container {
    margin: 0 60px 30px 60px;
    padding: 60px;
    background-color: black;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(6, 1fr);
}

.box {
    background-color: pink;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(43, 41, 41);
    width: 150px;
    height: 150px;
    transition: transform 0.2s;
}

.box:hover {
    transform: scale(1.2);
}